<div class="banner">
    <h1 class="text-center"><br>Aqui abaixo estão meus meios de contato:</h1>
    <div class="text-center socialmidia">
        <!--SocialMediaa-->
        <a href="https://github.com/Vitor-Vidotto" target="_blank"><i class="bi bi-github"></i>Github</a>
        <a href="https://www.linkedin.com/in/vitor-vidotto-334912253/" target="_blank"><i class="bi bi-linkedin"></i>Linkedin</a>
        <a href="https://www.instagram.com/soy.vidotto/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a>
        <a href="https://forms.gle/9eMeo2jCBrT7FDEm6" target="_blank"><i class="bi bi-clipboard2-check"></i>Formulário</a>
</div>
</div>



