<div class="banner">
    <div class="nome">
        <h1 class="text-center"><br>Sou o Vitor Vidotto</h1>
    </div>
    <div class="texto container square-box d-flex justify-content-center align-items-center">
     <p>
        <br>Estou cursando Engenharia da Computação na Facens
        <br> onde meu foco é me tornar um desenvolvedor pleno
        <br> sou fluente em português e em inglês para conversação
        <br> Tenho mantido meus estudos voltado as áreas de:
        <br> • Desenvolvimento Web
        <br> • Front-End e Back-End
        <br> • Desenvolvimento Unity
        <br> • Banco de Dados
        <br>
        <br>Possuo conhecimentos nas seguintes aplicações:
        <br> • Edição de Vídeo Vegas 18
        <br> • Visual Studio Community
        <br> • Visual Studio Code
        <br> • Pacote Office Completo
        <br> • Photoshop
        <br> • Insomnia
        <br> • Autocad
        <br> • Docker
        <br> • Revit
        <br>
        <br>Programação nas linguagens:
        <br> • Typescript
        <br> • JavaScript
        <br> • Phyton
        <br> • HTML
        <br> • CSS 
        <br> • C+
        <br> • C
        <br>
        <br>Frameworks:
        <br> • React Native
        <br> • Cypress
        <br> • Angular
        <br> • React
        <br> • Vue
    </p>
    </div>  
</div>


