<div class="container-fluid footer">
    <div class="row">
        <!--nome-->
        <div class="col-lg-6">
            <h1>Vitor Vidotto</h1>
            <p>Meu Portifólio</p>
            <p>Vitor.v.m.tozi@gmail.com</p>
        </div>
        <!--nav-->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="sobre">Sobre</a>
            <a routerLink="menu">Projetos</a>
            <a routerLink="contato">Contato</a>
            <br>
        </div>
        <!--SocialMedia-->
        <div class="col-lg-2">
            <a href="https://github.com/Vitor-Vidotto" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/vitor-vidotto-334912253/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/soy.vidotto/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>
