<div class="banner">
  <h1 class="text-center">
    <br />Aqui abaixo estão meus alguns de meus projetos: <br />Saiba que todos estão
    disponiveis no meu Github,
    <br> então caso queira ver mais, te espero lá!
  </h1>
  <div class="text-center"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img 
            src="https://i.ibb.co/j6xsMGr/download-1.png"
            alt="Projeto FullStack"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">App React Native</h5>
            <p class="card-text">
              Desenvolvi um projeto fullstack em react native com 
              o firebase para autenticação e utilizando uma API externa
              onde a mesma é um banco de dados de filmes e afins, desse modo
              podendo criar um app de catálogo de filmes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img 
            src="https://i.ibb.co/0rrb5jV/Screenshot-3.png"
            alt="Projeto FullStack"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">App de Controle C#</h5>
            <p class="card-text">
              Desenvolvi um projeto em c# onde o mesmo serve
              para monitorar e enviar arquivos via FTP, fazendo
              que os mesmos sirvam de backup para a maquina e 
              que sirva também para controle e geração de logs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://i.ibb.co/yRj5w0c/Screenshot-2.png"
            alt="Projeto FullStack"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Lista de Tarefas React</h5>
            <p class="card-text">
              Desenvolvi um projeto em react com Firebase,
              para uma lista de tarefas que funciona com
               um banco de dados externo onde pode ser
               atualizada editada manualmente, isso foi Desenvolvido
               antes de eu ter meus conhecimentos sobre backend e firebase.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://i.ibb.co/smbyxfD/Calculadora.png"
            alt="Uma Calculadora"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Meu Primeiro Projeto em C</h5>
            <p class="card-text">
              Desenvolvemos nossa primeira calculadora em C, onde ela realizava
              todas as operações de uma calculadora normal, tinha mudança de
              tema claro para escuro e quando desejava sair, tocava uma musica
              de despedida.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://i.ibb.co/JCv36yv/Site-jogos.png"
            alt="Primeiro Site"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Meu Primeiro Site</h5>
            <p class="card-text">
              Desenvolvemos um site onde era possivel se ver os jogos mais
              classicos criados e colocamos um "easter egg" no mesmo, sinta-se a
              vontade de tentar achar, não é nada muito complexo, mas foi muito
              interessante sua criação.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://i.ibb.co/zrvvTn2/jogo.png"
            alt="Ambiente Virtual"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Primeiro Jogo</h5>
            <p class="card-text">
              Desenvolvido como parte de meu voluntáriado, o don't stay away é
              um jogo onde o foco é capturar as moedas que são geradas
              aleatóriamente no mapa antes que o tempo acabe e você perca, uma
              mecânica simples desenvolvida em pouco tempo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
