h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
.banner{
    width: 100%;
    height:auto;
    min-width: 10vh;
    min-height: 100%;
    background: linear-gradient(-45deg,#303030, black, #303030);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.container{
    padding: 10px;
}

.wrapper{
    position: absolute;
    width: 100%;
    left: 15%;
}
span{
    color: aliceblue;
    font-size: 7.5vw;
    font-weight: 500;
    letter-spacing: 1px;
}
.multiText{
    color: blueviolet;
    text-transform: capitalize;
    font-weight: 800;
}