<div class="banner">
    <h1 class="text-center"><br>Bem Vindo!</h1> <br>
    <h2 class="text-center">Meu Nome é Vitor Vidotto</h2>
    <h3 class="text-center">Eu sou <span class="typed-element"></span></h3>
    <h2 class="text-center">Veja meus projetos</h2>
    <div class="text-center">
    <a href="https://drive.google.com/file/d/1u842oyv6SZcfq9A0XyTVq1uCGzDBo-gj/view?usp=sharing" target="_blank" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Baixar Currículo</a>
    <br>
    <a class="nav-link" routerLink="menu" routerLinkActive="active-link" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Ver Projetos</a>
    <br>
    <a class="nav-link" routerLink="contato" routerLinkActive="active-link" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Contato</a>
    </div>
    </div>


